.card{
    margin: 30px auto;
    width: 60%;

}
.row{
    display: flex;
    flex-direction: column;
}
.row2{
    display: flex;

}
.col{
    margin: 20px 0;
}
th{
    padding: 20px 75px 20px 0;
}
.btn {
    background-color: aqua !important;
    border: 2px solid black !important;
    color: black !important;
    width: 0 auto !important;
    width: 200px !important;
    display: block !important;
    text-align: center !important;
    margin: 10px;
}
.view_button, .nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
