{% extends "index.html" %}
{% block content %}
<div class="card bg-light ">
    <h3 class="card-header bg-secondary">Edit User <a href="/users" class="btn btn-primary float-end">HOME</a></h3>
    <div class="card-body">
        <form action="/users/edit" method="POST">
            <input type="hidden" name="id" value="{{user.id}}">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name:" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name:" name="last_name" value="{{user.last_name}}">
                </div>
                <div class="col">
                    <input type="email" class="form-control" placeholder="Email:" name="email" value="{{user.email}}">
                </div>
                <button type="submit" class="btn bg-info">Edit User</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}